.App {
    text-align: center;
  }
  
  h1 {
    color: rgb(29, 84, 74);
  }
  

  .auth-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of everything */
  }
  
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: relative;
    padding: 20px;
    background: white;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    z-index: 1001;
  }
  
  .authorized-content {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    border-radius: 8px;
  }
  